
/* Your CSS Code here. */
.holder {
    display: flex;
    flex-direction: row;        /* items in a row */
    justify-content: space-evenly; /* evenly spaced */
    flex-wrap: wrap;            /* move to next row if more items are added */
}